*.bkp
*.ia
src/public/info.php
src/writable/debugbar/*
src/writable/logs/*
src/.env
src/system/ThirdParty/_Jugwoko.php
src/system/HotReloader/_Puipuia.php
src/system/HotReloader/Puipuia.php
src/system/ThirdParty/Jugwoko.php
src/public/observer/codeigniter/*
src/app/Libraries/ApiResponse.ia
src/app/Models/v1/UserManagement/ResourceModel.ia
src/app/Services/v1/UserManagement/ManagerService.ia

doc/MySQL/**
!doc/MySQL/202512120800.sql

src/app/Config/**