doc/*
!doc/Dkr.txt
!doc/bkp_project/
doc/bkp_project/*
!doc/bkp_project/estrutura_001.txt
!doc/bkp_project/estrutura_002.txt
!doc/bkp_project/estrutura_003.txt
!doc/bkp_project/http_code.txt
!doc/codeigniter4-framework-v4.6.4-0-ge4d3702.zip
doc/Descarte/001.txt
doc/Descarte/GeraPodcast.txt
doc/Descarte/LinguaPortuguesa.txt
!doc/Flutter/
doc/Flutter/*
!doc/Flutter/cmd.txt
!doc/Flutter/estrtutura_001_diagnostico.txt
!doc/Flutter/estrtutura_002_base_project.txt
!doc/Flutter/estrtutura_003_base_build.txt
!doc/Flutter/estrtutura_004_base_estructure_folders.txt
doc/Flutter_bkp/estrtutura_001_diagnostico.txt
doc/Flutter_bkp/estrtutura_002_base_project.txt
doc/Flutter_bkp/estrtutura_003_base_build.txt_bkp
doc/Flutter_bkp/estrtutura_004_base_estructure_folders.txt
doc/modelo_sjon.txt
doc/MySQL/202510222152.sql
doc/MySQL/202510232021.sql
doc/MySQL/202512120741.sql
doc/MySQL/202512120742.sql
doc/MySQL/202512120800.sql
doc/MySQL/202512141556.sql
doc/MySQL/View/user_customer_management.sql
doc/POSTMAN/api_users_store_script.js
doc/POSTMAN/HABILIDADE.postman_collection-001.json
doc/POSTMAN/respostas1.txt
doc/POSTMAN/respostas2.txt
!doc/React/
doc/React/*
!doc/React/cmd.txt
!doc/React/estrutura_001_base_project.txt
!doc/React/estrutura_002_base_folder.txt
!doc/React/estrutura_003_deploy_dev.txt
!doc/React/estrutura_003_deploy_prd.txt
!doc/React/estrutura_003_react-app.bkp
doc/Script/clear-windows-temp.ps1
doc/Script/cmd_vscode.txt
doc/Script/vscode.txt
